# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Entornos virtuales
# =========================
venv/
.env/
.envrc

# =========================
# PyInstaller
# =========================
build/
dist/
*.spec

# =========================
# Logs
# =========================
*.log

# =========================
# Sistema (Windows)
# =========================
Thumbs.db
Desktop.ini

# =========================
# IDEs / Editores
# =========================
.vscode/
.idea/
