# =====================
# Python
# =====================
__pycache__/
*.py[cod]

# =====================
# Entornos virtuales
# =====================
venv/
.env/

# =====================
# PyInstaller
# =====================
build/
dist/
*.spec

# =====================
# Logs y temporales
# =====================
*.log
*.tmp

# =====================
# Sistema / Editor
# =====================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =====================
# Tests locales
# =====================
mouse_test.py
